ML ZoomCamp 2025
Name = Hayatun Syamilah

Question 1. Pandas version
What's the version of Pandas that you installed?

In [3]:
import pandas as pd

pd.__version__

'2.1.3'

In [4]:
import pandas as pd

df = pd.read_csv("C:/Users/User/OneDrive/Desktop/ML Zoomcamp 2025/car_fuel_efficiency.csv")

df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

Q2. Records count
How many records are in the dataset?

In [5]:
data = df.info()

data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

Q3. Fuel types
How many fuel types are presented in the dataset?

In [6]:
fuel_type = df["fuel_type"].value_counts()

fuel_type

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

Answer = 2

Q4. Missing values 
How many columns in the dataset have missing values?

In [7]:
missing_columns = df.isnull().sum()
missing_columns

# columns with missing values
missing_columns[missing_columns > 0]

# How many columns have missing values
Num_columns = (missing_columns > 0).sum()

print("Missing columns with value:" , Num_columns)

Missing columns with value: 4

Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [8]:
print(df.loc[df["origin"] == 'Asia' , "fuel_efficiency_mpg"].max())

23.75912284

Q6. Median value of horsepower
1.Find the median value of horsepower column in the dataset.

In [10]:
# Median before filling
median_before = df["horsepower"].median()
median_before

149.0

2. Next, calculate the most frequent value of the same horsepower column.

In [11]:
mode_value = df["horsepower"].mode()[0]
mode_value

152.0

3.Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

In [12]:
df["horsepower"] = df["horsepower"].fillna(mode_value)
df["horsepower"]

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

4.Now, calculate the median value of horsepower once again.

In [14]:
# Median after filling
median_after = df["horsepower"].median()
median_after

152.0

In [15]:
print("Median before filling:", median_before)
print("Median after filling :", median_after)

Median before filling: 149.0
Median after filling : 152.0

Has it changed?
Yes, it increased.

Q7. Sum of weights

Select all the cars from Asia

In [17]:
cars_asia = df[df["origin"] == "Asia"]
cars_asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

Select only columns vehicle_weight and model_year

In [20]:
y = df.loc[df["origin"] == "Asia", ["vehicle_weight","model_year"]]
y

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

Select the first 7 values

In [22]:
x= df.loc[df["origin"] == "Asia", ["vehicle_weight", "model_year"]].head(7)
x

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019